@use "../../styles/colors"
@use "../../styles/dimensions"
@use "../../styles/presets"

.input
    display: flex
    flex-direction: row
    align-items: center
    padding: 0 12px 0 20px
    border-radius: dimensions.$border-radius
    background-color: colors.$bg-secondary
    color: colors.$fg-primary
    border: 1px solid colors.$bg-tertiary
    -webkit-appearance: none
    font-size: 16px
    outline: none
    height: dimensions.$component-height
    box-sizing: border-box
    @include presets.control-shadow

    &Port
        letter-spacing: 2px

    &:focus
        border-color: colors.$bg-accent
        background-color: colors.$bg-primary

    &::placeholder
        color: colors.$fg-tertiary

    &:disabled, &Disabled
        opacity: 0.5
        cursor: not-allowed

.label
    display: flex
    opacity: 0.7
    margin-left: 20px
    gap: 5px

.required
    color: colors.$red

.optional
    color: colors.$fg-tertiary

.description, .error
    margin-left: 20px
    color: colors.$fg-tertiary
    font-size: 14px

.error
    opacity: 1
    color: colors.$red

.select
    display: flex
    flex-direction: column
    gap: 10px
    position: relative
    user-select: none
    -webkit-user-select: none

    & .input
        &:hover
            border: 1px solid colors.$bg-accent
            cursor: pointer

    & .inputDisabled
        &:hover
            border: none
            cursor: not-allowed

    &Value
        display: flex
        flex-direction: row
        gap: 15px
        align-items: center
        padding-right: 10px

    &Items
        background-color: colors.$bg-secondary
        border-radius: dimensions.$border-radius
        border: 1px solid colors.$bg-tertiary
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2)
        position: absolute
        left: 0
        top: 100%
        max-width: 100%
        min-width: min(85vw, 400px)
        box-sizing: border-box
        margin-top: 6px
        padding: 4px
        display: none
        z-index: 2
        max-height: 500px
        overflow: scroll

        &Opened
            display: block

    &Item
        display: flex
        flex-direction: row
        gap: 15px
        align-items: center
        height: 40px
        padding: 0 20px
        cursor: pointer
        border-radius: calc(dimensions.$border-radius-lg - 6px)
        white-space: nowrap

        &:hover
            background-color: colors.$bg-tertiary

        &Multiple
            padding: 0 20px 0 6px

    &Overlay
        position: fixed
        left: 0
        right: 0
        top: 0
        bottom: 0
        z-index: 1
        display: none

        &Opened
            display: block
