@use "../../styles/colors"
@use "../../styles/dimensions"

.input
    padding: 15px 20px
    border-radius: dimensions.$border-radius-lg
    background-color: colors.$bg-secondary
    color: colors.$fg-primary
    border: 1px solid colors.$bg-tertiary
    -webkit-appearance: none
    font-size: 16px
    outline: none

    &Port
        letter-spacing: 2px

    &:focus
        border-color: colors.$bg-accent

    &::placeholder
        color: colors.$fg-tertiary

.label
    opacity: 0.7
    margin-left: 20px

.description
    margin-left: 20px
    opacity: 0.5
    font-size: 14px
