.documentation
    display: flex
    flex-direction: column
    flex-grow: 1
    padding: 0 30px 30px
    min-width: 0
    overflow: hidden
    overflow-y: scroll

    @media (max-width: 480px)
        padding: 0 20px 30px
