@use "../../styles/colors"
@use "../../styles/dimensions"

.button
    display: flex
    flex-direction: row
    align-items: center
    gap: 4px
    padding: 8px 16px
    border: none
    outline: none
    border-radius: dimensions.$border-radius
    font-size: 16px
    background-color: colors.$bg-accent
    color: colors.$fg-accent
    cursor: pointer
    font-weight: 500
    position: relative
    overflow: hidden
    z-index: 2

    &::before
        content: ''
        position: absolute
        z-index: 1
        top: 100%
        left: 0
        bottom: 0
        right: 0
        background-color: colors.$bg-accent-hover
        transition: all 0.2s ease

    &:hover::before
        top: 0

    & > *
        z-index: 2

    &Large
        padding: 8px
        flex-grow: 1
        justify-content: center
