@use "../../styles/colors"
@use "../../styles/dimensions"

.button
    display: flex
    flex-direction: row
    gap: 10px
    align-items: center
    background-color: colors.$bg-secondary
    padding: 12px 16px
    border-radius: dimensions.$border-radius
    border: 1px solid colors.$bg-tertiary
    cursor: pointer
    font-size: 16px
    color: colors.$fg-primary
    -webkit-user-select: none
    -ms-user-select: none
    user-select: none

    &:hover
        background-color: colors.$bg-secondary-hover

.primary
    background-color: colors.$bg-accent
    border-color: colors.$bg-accent-hover
    color: colors.$fg-accent
    font-weight: 500

    &:hover
        background-color: colors.$bg-accent-hover

.large
    justify-content: center

.selected
    border-color: colors.$bg-accent

.colorRed
    background-color: colors.$red
    border-color: colors.$red
    color: white

    &:hover
        background-color: colors.$red
        border-color: white

.disabled, .loading
    background-color: colors.$bg-primary
    border-color: colors.$bg-tertiary
    color: colors.$fg-tertiary
    cursor: not-allowed

    &:hover
        background-color: colors.$bg-primary

.loading
    cursor: progress

.symbol
    margin: -4px
