@use "../../styles/colors"
@use "../../styles/dimensions"
@use "../../styles/presets"

.button
    display: flex
    flex-direction: row
    gap: 10px
    align-items: center
    background-color: colors.$bg-secondary
    padding: 14px 17px
    border-radius: dimensions.$border-radius
    border: 1px solid colors.$bg-tertiary
    cursor: pointer
    font-size: 16px
    color: colors.$fg-primary
    -webkit-user-select: none
    -ms-user-select: none
    user-select: none
    white-space: nowrap
    height: dimensions.$component-height
    box-sizing: border-box
    @include presets.control-shadow

    &:hover
        filter: brightness(1.3)

.primary
    background-color: colors.$bg-accent
    border-color: colors.$bg-accent
    color: colors.$fg-accent
    font-weight: 500

    &:hover
        filter: brightness(1.2)

.large
    justify-content: center

.selected
    border-color: colors.$bg-accent

.colorRed
    background-color: colors.$red
    border-color: colors.$red
    color: white

    &:hover
        background-color: colors.$red
        border-color: white

.disabled, .loading
    background-color: colors.$bg-secondary
    border-color: colors.$bg-tertiary
    color: colors.$fg-tertiary
    cursor: not-allowed
    opacity: 0.5

    &:hover
        background-color: colors.$bg-secondary

.loading
    cursor: progress

.icon
    margin: -5px
