@use "../../styles/colors"
@use "../../styles/fonts"

.bigtitle
    font-size: 26px
    font-weight: 400
    font-family: fonts.$font-family-title

.title
    font-size: 20px
    font-weight: 500
    font-family: fonts.$font-family-title

.subtitle
    font-size: 18px
    font-weight: 400
    font-family: fonts.$font-family-title
    color: colors.$fg-secondary

.caption
    font-size: 15px
    font-weight: 400
    opacity: 0.8

.text
    font-size: 16px
    font-weight: 400
    color: colors.$fg-primary
    line-height: 1.2
