@use "../../styles/colors"
@use "../../styles/dimensions"
@use "../../styles/fonts"

.bay
    background-color: colors.$bg-secondary
    border: 1px solid colors.$bg-tertiary
    padding: 4px 14px 4px 16px
    border-radius: dimensions.$border-radius
    display: flex
    flex-direction: row
    align-items: center
    gap: 12px

.lcd
    background-color: #000
    border: 1px solid colors.$bg-tertiary
    padding: 16px 20px
    border-radius: dimensions.$border-radius
    display: flex
    flex-direction: row
    align-items: center
    flex-grow: 1
    gap: 10px
    font-family: fonts.$font-family-code
    font-size: 15px
    letter-spacing: 1px
    cursor: pointer
    transition: all 0.1s ease

    &:hover
        background-color: #0b0b0b
        border-color: colors.$bg-accent

    &Gray
        color: colors.$fg-primary
        opacity: 0.6

    &Red
        color: colors.$red
        opacity: 1

    &Downloading
        color: colors.$blue
        opacity: 1

    &Green
        color: colors.$green
        opacity: 1

.led
    width: 14px
    height: 14px
    border-radius: 50%
    background-color: transparent
    border: 1px solid colors.$bg-tertiary
    transition: all 1s ease

    &Error
        background-color: colors.$red

    &Downloading
        animation: pulse-blue 0.4s ease infinite alternate-reverse

    &Running
        background-color: colors.$green

@keyframes pulse-blue
    from
        background-color: transparent
    to
        background-color: colors.$blue

.button
    cursor: pointer
    padding: 8px
    border: 1px solid transparent
    border-radius: 50%

    &:hover
        background-color: colors.$bg-secondary-hover
        //border-color: colors.$bg-tertiary
        border-color: colors.$bg-accent
