@use "../../styles/colors"
@use "../../styles/dimensions"
@use "../../styles/fonts"

.bay
    background-color: colors.$bg-primary
    border: 1px solid colors.$bg-tertiary
    padding: 0 20px 0 24px
    display: flex
    flex-direction: row
    align-items: center
    gap: 20px
    position: relative

    &:first-of-type
        border-top-left-radius: dimensions.$border-radius
        border-top-right-radius: dimensions.$border-radius

    &:not(&:last-of-type)
        border-bottom: none

    &:last-of-type
        border-bottom-left-radius: dimensions.$border-radius
        border-bottom-right-radius: dimensions.$border-radius

    &::before
        position: absolute
        content: ''
        height: 2px
        width: 0
        max-width: 0
        background-color: colors.$bg-tertiary
        right: 100%
        transition: max-width 0.3s ease

    &WithCable::before
        width: 100px
        max-width: 100px

.lcd
    background-color: #000
    border: 1px solid transparent
    padding: 16px 20px
    display: flex
    flex-direction: column
    align-items: stretch
    flex-grow: 1
    gap: 10px
    font-family: fonts.$font-family-code
    font-size: 15px
    letter-spacing: 1px
    color: white
    transition: all 0.1s ease

    &Gray
        color: lightgray
        opacity: 0.6

    &Red
        color: colors.$red
        opacity: 1

    &Downloading
        color: colors.$blue
        opacity: 1

    &Green
        color: colors.$green
        opacity: 1

    &Clickable
        cursor: pointer
        border: 1px solid transparent

        &:hover
            background-color: #0b0b0b
            border-color: colors.$bg-accent

    &Count
        color: colors.$fg-tertiary

.led
    width: 14px
    height: 14px
    border-radius: 50%
    background-color: transparent
    border: 1px solid colors.$bg-tertiary
    transition: all 1s ease

    &Error
        background-color: colors.$red

    &Downloading
        animation: pulse-blue 0.4s ease infinite alternate-reverse

    &Running
        background-color: colors.$green

@keyframes pulse-blue
    from
        background-color: transparent
    to
        background-color: colors.$blue

.button
    cursor: pointer
    padding: 8px
    border: 1px solid transparent
    border-radius: 50%

    &:hover
        background-color: colors.$bg-secondary-hover
        //border-color: colors.$bg-tertiary
        border-color: colors.$bg-accent
