@use "../../styles/colors"
@use "../../styles/dimensions"
@use "../../styles/fonts"

.logs
    padding: 20px
    line-height: 1.7
    font-size: 13px
    font-family: fonts.$font-family-code
    height: 100%
    box-sizing: border-box
    overflow: scroll

.line
    padding: 2px 8px
    border-radius: 4px

    &Error
        color: colors.$red

    &:hover
        background-color: colors.$bg-tertiary-hover
