// The 4 Catppuccin themes are from https://github.com/catppuccin/catppuccin (MIT License)

html, .vertex-dark
    --bg-no-color: #000000
    --bg-primary: #111111
    --bg-primary-hover: #141414
    --bg-secondary: #1A1A1A
    --bg-secondary-hover: #1E1E1E
    --bg-tertiary: #303030
    --bg-tertiary-hover: #333333

    --fg-primary: #EBEBEB
    --fg-secondary: #A9A9A9
    --fg-tertiary: #696969

    --blue: #357fb0
    --blue-hover: #296b96

    --red: #c53131
    --orange: #c58a31
    --yellow: #c5ac31
    --green: #57A773

    --bg-accent: #57A773
    --bg-accent-hover: #4D9366
    --fg-accent: var(--bg-primary)

.vertex-light
    --bg-no-color: #ffffff
    --bg-primary: #f3f3f3
    --bg-primary-hover: #ececec
    --bg-secondary: #e7e7e7
    --bg-secondary-hover: #e1e1e1
    --bg-tertiary: #d5d5d5
    --bg-tertiary-hover: #c7c7c7

    --fg-primary: #0e0e0e
    --fg-secondary: #5b5b5b
    --fg-tertiary: #8f8f8f

    --blue: #357fb0
    --blue-hover: #296b96

    --red: #c53131
    --orange: #c58a31
    --yellow: #c5ac31
    --green: #57A773

    --bg-accent: #57A773
    --bg-accent-hover: #4D9366
    --fg-accent: var(--bg-primary)

.catppuccin-mocha
    --bg-no-color: #000000
    --bg-primary: #1e1e2e
    --bg-primary-hover: #242436
    --bg-secondary: #313244
    --bg-secondary-hover: #36374b
    --bg-tertiary: #45475a
    --bg-tertiary-hover: #585b70

    --fg-primary: #cdd6f4
    --fg-secondary: #a6adc8
    --fg-tertiary: #7f849c

    --blue: #89b4fa
    --blue-hover: #769de0

    --red: #f38ba8
    --orange: #fab387
    --yellow: #f9e2af
    --green: #a6e3a1

    --bg-accent: #cba6f7
    --bg-accent-hover: #9f7ec9
    --fg-accent: var(--bg-primary)

.catppuccin-macchiato
    --bg-no-color: #000000
    --bg-primary: #24273a
    --bg-primary-hover: #2f3348
    --bg-secondary: #363a4f
    --bg-secondary-hover: #393d54
    --bg-tertiary: #494d64
    --bg-tertiary-hover: #5b6078

    --fg-primary: #cad3f5
    --fg-secondary: #a5adcb
    --fg-tertiary: #8087a2

    --blue: #8aadf4
    --blue-hover: #698bd0

    --red: #ed8796
    --orange: #f5a97f
    --yellow: #eed49f
    --green: #a6da95

    --bg-accent: #c6a0f6
    --bg-accent-hover: #a985d9
    --fg-accent: var(--bg-primary)

.catppuccin-frappe
    --bg-no-color: #000000
    --bg-primary: #303446
    --bg-primary-hover: #373b50
    --bg-secondary: #414559
    --bg-secondary-hover: #484c62
    --bg-tertiary: #626880
    --bg-tertiary-hover: #777e9a

    --fg-primary: #c6d0f5
    --fg-secondary: #a5adce
    --fg-tertiary: #838ba7

    --blue: #8caaee
    --blue-hover: #7995d3

    --red: #e78284
    --orange: #ef9f76
    --yellow: #e5c890
    --green: #a6d189

    --bg-accent: #ca9ee6
    --bg-accent-hover: #b384ce
    --fg-accent: var(--bg-primary)

.catppuccin-latte
    --bg-no-color: #ffffff
    --bg-primary: #eff1f5
    --bg-primary-hover: #e7e8ee
    --bg-secondary: #ccd0da
    --bg-secondary-hover: #bec2cc
    --bg-tertiary: #bcc0cc
    --bg-tertiary-hover: #b5b8c5

    --fg-primary: #4c4f69
    --fg-secondary: #6c6f85
    --fg-tertiary: #8c8fa1

    --blue: #04a5e5
    --blue-hover: #0591c7

    --red: #d20f39
    --orange: #fe640b
    --yellow: #df8e1d
    --green: #40a02b

    --bg-accent: #8839ef
    --bg-accent-hover: #7831d5
    --fg-accent: var(--bg-primary)

$bg-no-color: var(--bg-no-color)
$bg-primary: var(--bg-primary)
$bg-primary-hover: var(--bg-primary-hover)
$bg-secondary: var(--bg-secondary)
$bg-secondary-hover: var(--bg-secondary-hover)
$bg-tertiary: var(--bg-tertiary)
$bg-tertiary-hover: var(--bg-tertiary-hover)

$fg-primary: var(--fg-primary)
$fg-secondary: var(--fg-secondary)
$fg-tertiary: var(--fg-tertiary)

$blue: var(--blue)
$blue-hover: var(--blue-hover)

$red: var(--red)
$orange: var(--orange)
$yellow: var(--yellow)
$green: var(--green)

$bg-accent: var(--bg-accent)
$bg-accent-hover: var(--bg-accent-hover)
$fg-accent: var(--fg-accent)

$hover: rgba(0, 0, 0, 0.1)
