html
    --bg-primary: #F3F5F7
    --bg-primary-hover: #DAE0E7
    --bg-secondary: #E7EBEF
    --bg-secondary-hover: #DAE0E7
    --bg-tertiary: #CED6DF
    --bg-tertiary-hover: #B5C1CF

    --fg-primary: #243244

    --blue: #2e8fa6
    --blue-hover: #237588

    --bg-accent: #57A773
    --bg-accent-hover: #4D9366
    --fg-accent: var(--bg-primary)

.dark
// TODO

$bg-primary: var(--bg-primary)
$bg-primary-hover: var(--bg-primary-hover)
$bg-secondary: var(--bg-secondary)
$bg-secondary-hover: var(--bg-secondary-hover)
$bg-tertiary: var(--bg-tertiary)
$bg-tertiary-hover: var(--bg-tertiary-hover)

$fg-primary: var(--fg-primary)

$blue: var(--blue)
$blue-hover: var(--blue-hover)

$bg-accent: var(--bg-accent)
$bg-accent-hover: var(--bg-accent-hover)
$fg-accent: var(--fg-accent)

$hover: rgba(0, 0, 0, 0.1)
