@use "../../../styles/colors"
@use "../../../styles/dimensions"

.server
    position: relative

.title
    margin: 20px 50px

    @include dimensions.extra-small-or-less
        margin: 20px 30px

.bays
    display: flex
    flex-direction: column
    gap: 6px
    padding: 0 20px

    @include dimensions.extra-small-or-less
        padding: 0 10px

.addBay
    margin: 10px 30px

    @include dimensions.extra-small-or-less
        margin: 10px 20px
