@use "../../styles/colors"
@use "../../styles/dimensions"

.dock
    display: inline-flex
    flex-direction: row
    border-radius: calc(dimensions.$border-radius-lg + 4px)
    gap: 8px
    border: 1px solid colors.$bg-tertiary
    background-color: colors.$bg-primary
    padding: 10px
    align-items: center
    justify-content: center

    &Container
        position: fixed
        display: flex
        align-items: center
        justify-content: center
        left: 50%
        transform: translateX(-50%)
        bottom: 20px

.app
    display: inline-flex
    align-items: center
    justify-content: center
    height: 60px
    width: 60px
    border-radius: dimensions.$border-radius-lg
    background: linear-gradient(-45deg, colors.$bg-secondary, colors.$bg-tertiary)
    border: 1px solid colors.$bg-tertiary

    &:hover
        background: linear-gradient(-45deg, colors.$bg-secondary-hover, colors.$bg-tertiary-hover)
        border-color: colors.$bg-tertiary-hover

    &::after
        content: ''
        position: absolute
        width: 8px
        height: 4px
        border-top-left-radius: 4px
        border-top-right-radius: 4px
        background-color: colors.$fg-primary
        bottom: 1px
        opacity: 0
        transition: all 0.15s ease-in-out

    & .icon
        text-shadow: 0 0 30px colors.$fg-secondary
        font-size: 26px

    & .name
        position: absolute
        top: -35px
        display: none
        background-color: colors.$bg-tertiary
        padding: 5px 10px
        border-radius: dimensions.$border-radius-lg

    &Active
        bottom: 4px
        border-color: colors.$bg-tertiary-hover

        &::after
            width: 20px
            opacity: 1

    &:hover
        & .name
            display: block

.separator
    width: 1px
    height: 40px
    background-color: colors.$bg-tertiary
