@use "../../styles/colors"
@use "../../styles/dimensions"

.dock
    display: inline-flex
    flex-direction: row
    border-radius: calc(dimensions.$border-radius-lg + 4px)
    gap: 8px
    border: 1px solid colors.$bg-tertiary
    background-color: colors.$bg-primary
    padding: 10px
    align-items: center
    justify-content: center
    transition: all 0.15s ease

    @include dimensions.small-or-less
        gap: 6px
        padding: 8px

    &Container
        position: fixed
        display: flex
        align-items: center
        justify-content: center
        left: 50%
        transform: translateX(-50%)
        bottom: 20px
        z-index: 100
        transition: bottom 0.15s ease

        &Open
            bottom: 15px

.app
    display: inline-flex
    align-items: center
    justify-content: center
    height: 60px
    width: 60px
    border-radius: dimensions.$border-radius-lg
    color: colors.$fg-primary
    background-color: colors.$bg-secondary
    cursor: pointer

    &:hover
        background-color: colors.$bg-tertiary

    &::after
        content: ''
        position: absolute
        width: 8px
        height: 3px
        border-top-left-radius: 3px
        border-top-right-radius: 3px
        background-color: colors.$bg-accent
        bottom: 1px
        opacity: 0
        transition: all 0.15s ease-in-out

    & .icon
        //text-shadow: 0 0 30px colors.$fg-secondary
        font-size: 26px
        user-select: none
        -webkit-user-select: none
        -moz-user-select: none

    & .name
        position: absolute
        top: -35px
        display: none
        color: colors.$fg-primary
        background-color: colors.$bg-secondary-hover
        padding: 6px 12px
        border-radius: dimensions.$border-radius-lg

    &Active
        bottom: 4px

        &::after
            width: 20px
            opacity: 1

    &:hover
        & .name
            display: block

.separator
    width: 5px
    height: 15px
    border-radius: 3px
    background-color: colors.$bg-tertiary

.shortcuts
    display: inline-flex
    flex-direction: row
    gap: 8px
    align-items: center
    justify-content: center

    @include dimensions.small-or-less
        display: none
