.title
    margin: 20px 50px

.content
    height: calc(100vh - 120px)

.side
    display: flex
    flex-direction: column
    overflow: auto
    gap: 20px
    width: 100%

    padding: 32px 0

    & > *
        margin: 0 24px
