@use "../../styles/colors"
@use "../../styles/dimensions"

.card
    display: flex
    flex-direction: column
    overflow: hidden
    border-radius: dimensions.$border-radius-lg
    border: 1px solid colors.$bg-tertiary
    padding: 20px
    gap: 10px
