@use "../../styles/colors"
@use "../../styles/dimensions"

.server
    position: relative
    height: 100vh

.title
    margin: 20px 50px

.bays
    display: flex
    flex-direction: column
    gap: 10px
    padding: 0 20px 50px

.addBay
    margin: 10px 30px
