@use "../../styles/colors"
@use "../../styles/dimensions"

.header
    display: flex
    flex-direction: column
    align-items: flex-start
    padding: 0 38px 0
    gap: 4px

    @include dimensions.extra-small-or-less
        padding: 0 18px 0

.logo
    margin: 16px 0 8px
    padding: 6px 12px

.items
    display: flex
    flex-direction: row

.item
    border-radius: dimensions.$border-radius
    padding: 15px 20px
    -webkit-user-select: none
    -ms-user-select: none
    user-select: none

    &Content
        display: flex
        flex-direction: row
        align-items: center
        gap: 8px

    &Icon
        margin-top: -1px
        margin-left: -2px
        font-size: 18px

    &:hover
        background-color: colors.$bg-secondary-hover

    &Active
        border-bottom: 1px solid colors.$fg-accent
        background-color: colors.$bg-secondary
        color: colors.$fg-accent
