@use "../../styles/colors"
@use "../../styles/dimensions"

.header
    display: flex
    flex-direction: column
    align-items: flex-start
    padding: 0 32px 8px
    gap: 4px
    border-bottom: 1px solid colors.$bg-secondary

.logo
    margin: 16px 0 8px
    padding: 6px 12px

.items
    display: flex
    flex-direction: row
    gap: 4px

.item
    border-radius: dimensions.$border-radius
    padding: 10px 14px

    &Content
        display: flex
        flex-direction: row
        align-items: center
        gap: 8px

    &Symbol
        margin-top: -1px
        margin-left: -2px
        font-size: 18px

    &:hover
        background-color: colors.$bg-secondary-hover

    &Active
        position: relative

        &::after
            position: absolute
            content: ''
            left: 10px
            right: 10px
            bottom: -8px
            height: 2px
            border-top-right-radius: 2px
            border-top-left-radius: 2px
            background-color: colors.$fg-secondary
