@use "../../styles/colors"
@use "../../styles/dimensions"

.livedot
    width: 12px
    height: 12px
    border-radius: 50%
    background-color: colors.$bg-tertiary
    transition: background-color .1s ease

    &Tick
        background-color: colors.$green

.graph
    border: 1px solid colors.$bg-tertiary
    padding: 10px
    border-radius: dimensions.$border-radius

.bar
    height: 50px
    width: 4px
    border-radius: 2px
    transition: height .2s ease-in-out

    &Current
        background-color: colors.$green

    &On
        background-color: colors.$green

    &Off
        background-color: colors.$bg-tertiary
