@use "../../styles/colors"
@use "../../styles/dimensions"

.graph
    border: 1px solid colors.$bg-tertiary
    padding: 10px
    border-radius: dimensions.$border-radius

.bar
    height: 50px
    width: 4px
    border-radius: 2px
    background-color: colors.$green
