@use "../../styles/colors"
@use "../../styles/fonts"
@use "../../styles/dimensions"

.navbar
    display: flex
    flex-direction: column
    min-width: 350px
    height: 100%
    border-right: 1px solid colors.$bg-secondary
    padding: 10px 20px 10px 40px
    box-sizing: border-box

    &Item
        padding: 15px 20px
        cursor: pointer
        border-radius: dimensions.$border-radius-lg
        border: 1px solid transparent
        transition: all 0.1s ease
        -webkit-user-select: none
        -ms-user-select: none
        user-select: none
        position: relative

        &:hover
            background-color: colors.$bg-secondary-hover

        &Red:hover
            color: colors.$red

        &::after
            position: absolute
            content: ''
            top: 50%
            bottom: 50%
            left: 0
            width: 3px
            border-radius: 2px
            background-color: colors.$fg-secondary
            transition: all 0.1s ease-in-out

        &Active
            position: relative
            color: colors.$fg-accent
            background-color: colors.$bg-secondary

            &::after
                top: 15px
                bottom: 15px

.symbol
    margin-top: -1px
    font-size: 20px
    width: 20px
    height: 20px

.title
    margin: 8px 12px
    color: colors.$fg-secondary

.separator
    margin: 12px
    border-bottom: 1px solid colors.$bg-secondary
