@use "../../styles/colors"
@use "../../styles/fonts"
@use "../../styles/dimensions"

.group
    display: flex
    flex-direction: column
    gap: 2px
    border-radius: dimensions.$border-radius-lg

.title
    margin: 8px 12px 8px 20px
    color: colors.$fg-secondary

.navbar
    display: flex
    flex-direction: column
    min-width: 300px
    padding: 10px 0 10px 20px
    box-sizing: border-box
    gap: 15px

    @include dimensions.small-or-less
        min-width: 100%
        max-width: 100%
        padding: 10px 20px

    @include dimensions.extra-small-or-less
        padding: 10px 10px

    &WithItemSelected
        @include dimensions.small-or-less
            padding: 0
            background-color: red
            max-width: 0
            min-width: 0
            overflow: hidden

    &Item
        display: flex
        flex-direction: row
        gap: 12px
        align-items: center
        cursor: pointer
        padding: 12px 20px
        border: 1px solid transparent
        transition: all 0.1s ease
        -webkit-user-select: none
        -ms-user-select: none
        user-select: none
        position: relative
        border-radius: dimensions.$border-radius-lg

        &Red
            color: colors.$red

        &:hover
            background-color: colors.$bg-secondary-hover

        @include dimensions.medium-or-greater
            &::after
                position: absolute
                content: ''
                top: 50%
                bottom: 50%
                left: 0
                width: 3px
                border-radius: 2px
                background-color: colors.$fg-secondary
                transition: all 0.1s ease-in-out

            &Active
                position: relative
                background-color: colors.$bg-tertiary

                &:hover
                    background-color: colors.$bg-tertiary-hover

                &::after
                    top: 12px
                    bottom: 12px

.symbol
    margin-top: -1px
    width: 20px
    height: 20px

    & > *
        font-size: 20px

.notifications
    display: flex
    align-items: center
    justify-content: center
    color: colors.$red
    position: relative

    &::after
        position: absolute
        content: ''
        top: 50%
        transform: translateY(-50%)
        left: -15px
        width: 6px
        height: 6px
        border-radius: 50%
        background-color: colors.$red

.dot
    width: 6px
    height: 6px
    border-radius: 50%
    background-color: colors.$red
