@use "../../styles/colors"
@use "../../styles/dimensions"
@use "../../styles/fonts"

.title
    margin: 20px 50px

.details
    position: relative
    width: 100vw
    height: 100vh

.bay
    padding: 0 20px 10px

.content
    width: 100vw
    height: calc(100vh - 240px)

.side
    display: flex
    flex-direction: column
    overflow: auto
    gap: 20px
    width: 100%
    padding: 20px 0

    & > *
        margin: 0 20px
