@use "../../styles/colors"
@use "../../styles/dimensions"
@use "../../styles/fonts"

.details
    position: relative
    width: 100vw
    height: 100vh

.menu
    display: flex
    flex-direction: column
    min-width: 350px
    height: calc(100vh - 157px)
    border-right: 1px solid colors.$bg-secondary
    padding: 12px
    box-sizing: border-box

    &Item
        padding: 10px 16px
        cursor: pointer
        border-radius: dimensions.$border-radius
        border: 1px solid transparent
        transition: all 0.1s ease

        &:hover
            background-color: colors.$bg-primary-hover
            border-color: colors.$bg-accent

        &Red:hover
            border-color: colors.$red
            color: colors.$red

        &Active
            background-color: colors.$bg-secondary

.bay
    padding: 40px 10%
    border-bottom: 1px solid colors.$bg-secondary

.content
    width: 100vw
    height: calc(100vh - 157px)

.side
    display: flex
    flex-direction: column
    overflow: auto
    gap: 20px
    width: 100%

    padding: 32px 0

    & > *
        margin: 0 24px

.separator
    margin: 12px
    border-bottom: 1px solid colors.$bg-secondary
