$bg-no-color: var(--bg-no-color)
$bg-primary: var(--bg-primary)
$bg-primary-hover: var(--bg-primary-hover)
$bg-secondary: var(--bg-secondary)
$bg-secondary-hover: var(--bg-secondary-hover)
$bg-tertiary: var(--bg-tertiary)
$bg-tertiary-hover: var(--bg-tertiary-hover)

$fg-primary: var(--fg-primary)
$fg-secondary: var(--fg-secondary)
$fg-tertiary: var(--fg-tertiary)

$app: var(--app)

$red: var(--red)
$orange: var(--orange)
$yellow: var(--yellow)
$green: var(--green)

$bg-accent: var(--bg-accent)
$bg-accent-hover: var(--bg-accent-hover)
$fg-accent: var(--fg-accent)

$hover: rgba(0, 0, 0, 0.1)
