@use "../../styles/colors"
@use "../../styles/dimensions"

.marketplace
    display: flex
    min-height: 100vh
    width: 100vw
    flex-direction: column
    align-items: center
    justify-content: center

.content
    display: flex
    flex-direction: column
    width: 50%
    align-items: center
    justify-content: center
    padding: 40px 0

.server
    width: 100%
    padding: 20px 0 32px
    //border-bottom: 1px solid colors.$bg-secondary
    margin-bottom: 32px

.cloud
    display: flex
    justify-content: center
    align-items: center
    background-color: colors.$bg-secondary
    border: 1px solid colors.$bg-tertiary
    border-radius: dimensions.$border-radius
    width: 64px
    height: 64px

    & > *
        font-size: 32px

.cable
    width: 10px
    border-left: 1px solid colors.$bg-tertiary
    border-right: 1px solid colors.$bg-tertiary
    height: 40px
    margin-left: 27px
    background: linear-gradient(0, colors.$bg-secondary, colors.$bg-secondary, colors.$blue, colors.$bg-secondary, colors.$bg-secondary)
    background-size: 100% 500%
    animation: cable-transfer 0.8s ease infinite 0.2s

@keyframes cable-transfer
    from
        background-position: 100% 100%
    to
        background-position: 0 0

.step
    display: flex
    flex-direction: column
    gap: 20px
    width: 100%

    &Title
        display: flex
        flex-direction: row
        align-items: center
        gap: 10px

.buttons
    display: flex
    flex-direction: column
    grid-template-columns: repeat(2, 1fr)
    gap: 12px

.button
    align-items: flex-start !important

.buttonContent
    display: flex
    flex-direction: column
    align-items: flex-start
    margin-top: 2px
    gap: 6px

.buttonDescription
    text-align: left
    opacity: 0.7
    font-size: 14px

.inputDescription
    margin-left: 16px
    opacity: 0.5
    font-size: 14px
