@use "../../styles/colors"

.cards
    display: grid
    grid-template-columns: repeat(2, 1fr)
    padding: 0 12px
    gap: 12px

.appHeader
    display: flex
    flex-direction: row
    align-items: center
    gap: 10px
    margin-bottom: 12px

.appDescription
    display: block
    margin-top: 12px

.appActions
    display: flex
    flex-direction: row
    justify-content: flex-end
    gap: 6px
    margin-top: 20px
    padding: 10px !important
    border-top: 1px solid colors.$bg-secondary-hover
