@use "styles/colors"
@use "styles/fonts"

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap')
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&family=Rubik:wght@400;500;600&family=Silkscreen:wght@400;700&display=swap')

body
    background-color: colors.$bg-primary
    color: colors.$fg-primary
    font-family: fonts.$font-family
