@use "styles/colors"
@use "styles/fonts"

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap')

body
    background-color: colors.$bg-primary
    color: colors.$fg-primary
    font-family: fonts.$font-family
